<!DOCTYPE html>
<html lang="">
<head>
    <title>Список студентов</title>
</head>
<body>
    <h1>Список студентов</h1>
    <form method="GET" action="{% url 'get_students' %}">
        <label for="search">Поиск по имени, фамилии или email:</label>
        <label>
            <input type="text" name="search" value="{{ request.GET.search }}">
        </label>
        <button type="submit">Найти</button>
    </form>
    <ul>
        {% for student in students %}
        <li>
            <strong>Имя:</strong> {{ student.first_name }}<br>
            <strong>Фамилия:</strong> {{ student.last_name }}<br>
            <strong>Email:</strong> {{ student.email }}<br>
            <strong>Дата рождения:</strong> {{ student.birth_date }}<br>
            <strong>Класс:</strong> {{ student.grade }}<br>
        </li>
        {% empty %}
        <li>Нет студентов, удовлетворяющих условиям поиска.</li>
        {% endfor %}
    </ul>
</body>
</html>