<!DOCTYPE html>
<html lang="">
<head>
    <title>List of Teachers</title>
</head>
<body>
    <h1>List of Teachers</h1>
    <ul>
        {% for teacher in teachers %}
            <li>{{ teacher.first_name }} {{ teacher.last_name }}</li>
            <p>Age: {{ teacher.age }}</p>
            <p>Subject: {{ teacher.subject }}</p>
            <p>Email: {{ teacher.email }}</p>
            <p>Phone Number: {{ teacher.phone_number }}</p>
            <hr>
        {% endfor %}
    </ul>
</body>
</html>